.about {
    margin-top: 64px;
    text-align: center;
}

header.about{
    font-family: Cambria, Georgia, serif;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    color: #ffffff;
    top: -90%;
    left: 25%;
    text-align: center;
    /* transform: translate(-50%, -50%); */
    
}

div.aboutPad{
    background-color: rgb(255,255,255,0.3);
    border-radius: 10px;
    position: absolute;
    width: 350px;
    height: 60px;
    padding: 20px; 
    top: 17%;
    left: 37%;
}

padding.content{ 
}

p.origin {
    font-family: Cambria, Georgia, serif;
    margin-top: 40px;
    margin-bottom: 40px; 
    margin-left: 250px;
    margin-right: 250px;
}

p.white {
    font-family: Cambria, Georgia, serif;
    color: white;
    margin-top: 20px;
}

pthick {
    font-family: Cambria, Georgia, serif;
    margin-left: 250px;
    margin-right: 250px; 
    font-weight: bold;
}

p.top {
    font-family: Cambria, Georgia, serif;
    margin-top: 10px; 
    margin-left: 250px;
    margin-right: 250px;
   
}

p.bottom {
    font-family: Cambria, Georgia, serif;
    margin-top: 10px; 
    margin-bottom: 10px; 
    margin-left: 250px;
    margin-right: 250px;
}

.divl {
    margin-top: 80px;
    text-align: left;
    margin-right: 400px;
}

.divr {
    margin-top: 80px;
    text-align: left;
    margin-left: 400px;
}

.divl2 {
    margin-top: 30px;
    text-align: left;
    margin-right: 250px;
}
  
.centered {
    position: absolute;
    font-family: Cambria, Georgia, serif;
    color: #ffffff;
    top: 35%;
    left: 20%;
    right: 20%;
    /* transform: translate(-50%, -20%);   */
}


img.about{
    position: relative;
    margin: auto;
    max-width: 100%;
    height: auto;
    width: auto\9;
       
}

hr.about{
    margin-right: 350px;
    margin-left: 350px;   
}

.tinted { filter: brightness(50%); }
