.about {
    margin-top: 64px;
    text-align: center;
}

body {
    background-color: #ffffff;
    padding: 20px;
    margin: 0;
}

.header{
    font-family: Cambria, Georgia, serif;
    background-color: rgba(255,255,255, 0.5);
    border-radius: 16px;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 60px; 
    text-align: center;

}

p {
    font-family: Cambria, Georgia, serif;
    margin-top: 40px;
    margin-left: 250px;
    margin-right: 250px;
}

.divl {
    margin-top: 80px;
    text-align: left;
    margin-right: 400px;
}

.divr {
    margin-top: 80px;
    text-align: left;
    margin-left: 400px;
}

h1 {
    font-family: Cambria, Georgia, serif;
    margin-top: 40px;
}
.centered1 {
    position: absolute;
    color: #ffffff;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);  
  }
  
.centered2 {
    position: absolute;
    font-family: Cambria, Georgia, serif;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
  }

.container img{
    position: relative;
    width: 100%;
       
}

.tinted { filter: brightness(50%); }



