.Account {
	
}
.Post {
	
	
}
/* Post Container */
.post-container {	
	display:flex;
	width: 337px;
	background: #363D48;
	border: 1px solid #FFFFFF;
	border-radius: 5px;
	color: #FFFFFF;
	padding: 10px;
	margin-left: 100px;
	margin-bottom: 20px;
	align-content: center;
	
}
/* Post Top Row*/
.post-top-row {
	display: flex;
	flex-direction: row;
	width: 100%;	
	align-content: center;
	align-content: space-evenly;
	flex-basis: 0
	
}
.post-date-column {	
	display: flex;
	flex-direction: column;
	align-items: center;	
	font-size: 12px;
	flex-basis: 0;
	width: 25%;
	
}

.post-destination-column {	
	display: flex;
	flex-direction: column;
	align-items: left;	
	font-size: 32px;
	flex-basis: 2;
	width: 75%;
	

}
/* Post Middle Picture */
.post-middle-row {
	
	display: flex;
	flex-direction: row;
	flex-flow: column-wrap;
	width: 100%;	
}
/* Post Details */
.post-detail-row {
	
	display: flex;
	flex-direction: row;
	flex-flow: column-wrap;
	width: 100%;	
	flex-basis: 0;
	flex-grow: 1;	
}

.post-description {
	display: flex;
	flex-direction: row;
	align-items: left;	
	font-size: 32px;
	flex-basis: 2;
	
}

.post-donation {
	
	display: flex;
	flex-direction: row;
	align-items: left;	
	font-size: 32px;
	flex-basis: 2;	
}

.post-stars {	
	display: flex;
	flex-direction: row;
	align-items: left;	
	font-size: 32px;
	flex-basis: 2;	
}

/* User Donation Form styling */
.container {	
	color: #FFFFFF;
	width: 600px;
	height: 980px;
	left: 725px;
	top: 200px;
	padding-left: 5%;
	padding-right: 5%;
	background: #363D48;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	border-radius: 5px;
	
	
}

/* User Donation Form Formatting */
.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;  
  flex-direction: row;
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 5px;
  font-weight: 300; 
  
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 400px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 200px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 2%;
  border: none;
}

.flex-outer li button {
	margin-left: auto;
	padding: 8px 16px;
	border: none;
	background: #428FBE;
	border-radius: 5px;
	text-transform: uppercase;
	letter-spacing: .09em;
	color: #FFFFFF;
}

.flex-inner li {
  width: 100px;

  
}

.star-rating {
	
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
    vertical-align: middle;	
}
/*end form formatting*/

.main-top-row {
	
	display: flex;
	flex-direction: row;
	flex-flow: column-wrap;
	width: 100%;	
	align-items: stretch;	
	
}
.main-bottom-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;	
		
}

.left-column {
	
	padding-top: 100px;
	flex-direction: column;
	margin-top: 20px;
	margin-left: 10%;
	margin-right: 0%;
	flex: 2;
}

.right-column {
	
	padding-top: 100px;
	flex-direction: column;
	margin-top: 20px;	
	margin-left: 0%;
	margin-right: 0%;
	flex: 2;
}




.user-info-row {
	display: flex;
	flex-direction: row;
	flex-flow: column-wrap;
	width: 100%;	
	align-items: stretch;	
}

.UserInfo-avatar {
	
	width: 120px;
	height: 120px;
	border-radius: 50%;
	
}

.avatar-column {
	
	display: flex;
	flex-direction: column;
	align-items: center;	
	width: 120px;
	padding-left: 5px
}

.user-info-column {
	
	display: flex;
	flex-direction: column;
	width: 100%;	
	align-items: left;
	flex: 0 1 auto;
	padding-top: 5%;
	padding-left: 25px;
}


.UserInfo-name {
	text-align: left;
	font-size: 24px;
	
}
/*User Info Container*/
.user-info-container {
	
	display: flex;
	width: 400px;
	height: 120px;	
	background-color: #F4F4F4;
	border-radius: 5px;
	padding-left: 5px;
	flex-direction: row;
	
}
.UserInfo {
	display: flex;
	font-size: 12px;
	
}
