.Account {
    
    text-align: left;
	height: 100%
}
.Post {
	text-align: left;
	font-size: xx-large;
}
.Post-date {
	text-align: left;
	font-size: large;
}

.Post-destination {
	text-align: left;
	font-size: large;
}

.Post-donation {
	text-align: left;
	font-size: large;
}

.Post-stars {
	text-align: left;
	font-size: large;
}
.Post-description {
	text-align: left;
	font-size: large;
}
.UserDonationStory {
	text-align: left;
	font-size: large;
}

.Avatar {
	
}

.UserInfo {
	
}
	
.row {
	margin-top: 200px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;		
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 2;
}

.left-column {
	background-color: F4F4F4;
	justify-content: center;
	margin-top: 20px;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	flex: 2;
}

.right-column {
	background-color: F4F4F4;
	justify-content: center;
	margin-top: 20px;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	flex: 2;
}

.map-image {
	height: 100%;
	width: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.map-image img {
	text-align: left;
	font-size: xx-large;
    width: 100%;
    height: 75%;
}

.member-avatar {
	justify-content: left;
}

.Avatar img {
	width: 50px;
	height: 50px;
}
.UserInfo-name {
	text-align: left;
	font-size: xx-large;
}

.member-info {
	text-align: left;
}
