.blogs {
    margin-top: 64px;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 64px;
    margin-left: 5%;
    margin-right: 5%;
}

.page-info {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
    width: 60%;
    background-color: #010925;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

.country-button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin: auto;
    margin-top: 20px;
}

.country-buttons {
    background-color: #010925;
    color: white;
    font-size: 1em;
    text-align: center;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    min-width: 150px;
    width: 15%;
}

.country-buttons option:first-child {
    display: none;
}

.top-buttons-blog {
    padding-bottom: 10px;
}

.blog-trips-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;	
}

.blog-container-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.blog-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

.blog-entry {
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 25vw;
    margin: 20px;
    flex: 30%;
}

.top-blog-image {
    height: auto;
    border: 5px solid #010925;
}

.top-blog-image img {
    width: 100%;
    height: 100%;
}

.bottom-blog-content {
    height: 100%;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #010925;
    color: white;
    line-height: 1.8em;
}

.star-blog-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blog-same-line {
    display: flex;
    flex-direction: row;
    align-items: left;
}

@media screen and (max-width: 750px) {
    .blog-entry {
        flex: 100%;
        width: 75vw;
    }
}