.blogs {
    margin-top: 64px;
    text-align: center;
}

.blog-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.blog-entry {
    display: flex;
    flex-direction: column;
    height: 384px;
    width: 338px;
    margin: 20px;
}

.top-image {
    height: 60%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.top-image img {
    width: 100%;
    height: 100%;
}

.bottom-content {
    height: 40%;
    text-align: left;
    padding-left: 25px;
    padding-top: 25px;
    background-color: #010925;
    color: white;
}