.faq {
    margin-top: 70px;
    text-align: left;
	padding-left: 20%;
	padding-right: 20%;	
	padding-bottom: 30px;
	width: 100%;	
	font-style: normal;
	font-size: 16px;
	line-height: 30px;
}
