.home {
    font-family: inherit;
    line-height: inherit;
    text-align: center;
    height: 100%;
}

/*===============================*/
/*==== Top Content Container ====*/
#top-container {
    position: relative; 
    width: 100%;
    margin: auto;
}
    
#bg_img {
    width: 100%;
    height: auto;
    object-fit: cover;
    min-height: 175px;
    min-width: 650px; max-width: 100%;
    opacity: 0.8;
    z-index: 0; /* stack order (last) */
}


/*===== StickyNavbar Basic Styling =====*/
    /*-- We need a wrapper AND container so it
    can be BOTH a fixed AND a sticky flexbox --*/
#navbar-wrapper {
    position: fixed; /* Render fixed initially */
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 42px;
    max-height: 80px;
    z-index: 4; /* Stacking order (2nd before DD content) */
    transition: all 0.5s; /* unstick navbar */
}

/* Navbar Master */
#nav-container {
    position: sticky; /* Fixed at any scroll position */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style-type: none;
    overflow: visible; /* crucial! */
    /* Utility for navbar sticky effect */
    top: -1px;
    padding-top: calc(1em + 1px);
    transition: all 0.4s;
}

    /* Dropdown grouping container */
    #nav-container .dropdown { 
        display: inline-block;
        position: sticky;
        cursor: pointer;
        font-size: 0.8em;
    }

        /* Dropdown headers */
        .DD-btn {
            font-size: 1.3em;
        }      
            /* Hovering any DD item => border on header */
            #nav-container .dropdown:hover .DD-btn {
                transition: ease-in 0.3s;
                border-bottom: 2px solid #CBB95A;
            }

            /* Arrows for DD dropdown's */
            .down-up-arrow {
                border: solid #CBB95A;
                display: inline-block;
                border-width: 2px 2px 0 0;
                padding: 4px;
                margin-left: 6px;
                transition: all 0.3s;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
            }
            .dropdown:hover .down-up-arrow {
                transition: all 0.3s;
                border-width: 0 2px 2px 0px;
            }


        /*! Dropdown content (rendered on header hover) !*/
        .dropdown-content {
            display: none;
            position: absolute;
            width: calc(100% + 10px);
            min-width: 20px;
            background-color: #363D48;
            box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
            z-index: 8; /* UI Stack order (1st before navbar) */
        }
        .dropdown:hover .dropdown-content {
            display: block;
        }

            /* ALL DD item <a> ref tags */
            .dropdown a {
                display: block; /* create vertical navs */
                padding: 6px 8px;
                width: 100%;
                background: none;
                text-decoration: none;
                text-emphasis: bold;
                text-align: left;
                color: white;
            }
            /* On Sub-Nav item hover */
            .dropdown-content a:hover {
                transition: ease-in 0.4s;
                background-color: #1e2231;
                border-left: 2px solid #CBB95A;
            }
            #signup-dd {
                width: 150%;
            }
        
/*================================*/
/*=== Hamburger Navbar Styling ===*/
#nav-container #ham-btn { 
    display: none; /* default state */
}

@media screen and (max-width: 600px) {
    #nav-container #ham-btn {
        display: inline-block; /* initial: none */
        background-color: #363D48;
        width: 50px;
        text-align: center;
        color: #CBB95A; 
        font-size: 1.3em;
    }
    #nav-container .dropdown .DD-btn { 
        display: none; 
        white-space: nowrap;
        background-color: #363D48;
        font-size: 0.7em; /* initial: 0.9em */
    }
}
    
@media screen and (max-width: 600px) {
    #nav-container.hammed {
        padding-top: 0px;
        width: 18%;
        min-width: 80px; /*--deprecate to left-side */
        
        flex-flow: column wrap; /* initial: row wrap */
        justify-content: flex-start; /* initial: space-between */
        overflow: hidden;
    }

    #nav-container.hammed .dropdown {
        display: block;
        width: 100%;
    }
        #nav-container.hammed .DD-btn {
            width: 100%;
            display: block;
        }      
        #nav-container.hammed .dropdown-content { 
            position: relative;
            width: 100%;
            background-color: #b89b09;
            color: black;
        }    
}

/*============================================*/
/*=== Sticky Scrolling Navbar Styling ===*/

#top-container.isSticky #nav-container { 
    transition: all 0.4s;
    background-color: #363D48;
}

/*============================================*/
/*=== Centered Top Container content ===*/
#block-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 3; /* Stacking order (3rd, after navbar) */
}
    #block-logo {
        width: 100%;
        height: auto;
        scale: 0.75;
    }
    #block-logo-text {
        font-size: 3vw;
    }

    #block-content {
        display: flex;
        flex-wrap: row wrap;
        justify-content: space-evenly;
        align-items: center;
    }
        .block-box {
            margin: 4px 12px;
            padding: 8px 10px 4px 10px;
            border: 2px solid #CBB95A;
            border-radius: 5px;
        }
            .block-box a {
                color: white;
            }
            
            .block-box:hover, .block-box:active {
                transition: ease-in-out 0.3s;
                transform:scale(1.1,1.1);
            }

/*================================*/
/*== Steps to DoMAD Success ==*/
#steps-wrapper {
    width: 100%;
    height: auto;
    margin: 0;
}
    #all-steps-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .step-container {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        overflow: hidden;
        width: 22%; min-width: 250px;
        margin: 16px 8px;
    }
        .step-svg {
            width: 100px;
            height: 100px;
        }
        .step-box {
            padding: 6px 10px 12px 10px;
            background-color: #010925;
            border: 2px solid #CBB95A;
            border-radius: 10px;
            color: white;
            word-break: normal;
            text-align: left;
        }

/*==============================*/
/*=== Section Header/Footers, & Text Links ===*/
.section_heads_foots {
    font-size: 1.4em;
    margin: 24px 5%;
    line-height: inherit;
}
    .hr-spacer {
        width: 80%;
        margin: 40px 15%;
    }

.hyperl-txt {
    color: #CBB95A;
}
.hyperl-txt:hover, .hyperl-txt:active {
    transition: all 0.5s;
    text-decoration: underline #010925 solid;
}
    
/*==============================*/
/*=== Donation Slider boxes ===*/
#donations-wrapper {
    margin-top: 30px;
}

#donations-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

    .slide-entry {
        border-radius: 5px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        height: 384px;
        width: 338px;
        margin: 20px;
    }
    .slide-entry:hover {
        border: 5px solid black;
    }

        .top-image {
            height: 60%;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
        }
        .top-image img {
            width: 100%;
            height: 100%;
        }
        .donation-content {
            height: 40%;
            text-align: left;
            padding-left: 25px;
            padding-top: 25px;
            background-color: #010925;
            color: white;
            line-height: 2em;
        }