.how {
    margin-top: 64px;
    text-align: center;
    vertical-align: middle;
    font-family: Cambria, Georgia, serif;
}

/* Step 1 */
.step-1-row {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 5%;
    font-size: 20px;
}
.step-1-left-column {   
    flex-direction: column;
    flex: 1;
    margin: 2%;  
}
.step-1-right-column {
    flex-direction: column;
    flex: 1;
    margin: 2%;  
}
.map {
    width: 100%;
    margin: 20px;
    flex: 1;   
    vertical-align: middle;
}
img.step1 {  
    width: 50px;      
}

/* Step 2 */
.step-2-row {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 5%;
    font-size: 20px;    
}
.step-2-left-column {
    flex-direction: column;
    flex: 1;
    margin: 2%;  
}
.step-2-right-column {
    flex-direction: column;
    flex: 1;
    margin: 2%;  
}
img.howPacking {
    width: 100%;
    padding: 20px;
    flex: 1;     
}
img.step2 {
    width: 50px;      
}

/* Step 3 */
.step-3-row {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 5%;
    font-size: 20px;    
}
.step-3-left-column {
    flex-direction: column;
    flex: 1;
    margin: 2%;   
}
.step-3-right-column {
    flex-direction: column;
    flex: 1;
    margin: 2%;  
}
img.step3 {
    width: 50px;      
}
img.howTravel {
    width: 100%;
    margin: 10%;  
}

.bluePadding {
    background-color: #010925;
    border-radius: 5px;
    width: 90%;
    height: 10%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 50px;
    text-align: center;
    padding: 1%;
}

p.downCenter{
    font-family: Cambria, Georgia, serif;
    color: white;
}