.individual-blogs {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.blog-country-name {
    text-align: center;
    width: 60%;
    background-color: #010925;
    color: white;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 2%;
    margin-bottom: 1%;
    padding: 0.5%;
    margin: auto;
}

.blog-info-container {
    width: 60%;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 5px;
    overflow: hidden;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.blog-donations {
    padding-top: 1%;
    padding-bottom: 1%;
}

.blog-donation-items {
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-top: 1%;
}

.blog-donation-column {
    padding-right: 5%;
}

.donated-item-label {
    text-decoration: underline;
}

.blog-suggested-donations {
    padding-top: 1%;
    padding-bottom: 1%;
}

.blog-suggested-donation-items {
    margin: auto;
    padding-top: 1%;
}

.travel-story {
    padding-top: 1%;
    padding-bottom: 1%;
}

.travel-story-information {
    margin: auto;
    padding-top: 1%;
}