.Register {
  margin-left: 15%;
  margin-right: 15%;  
}
.register-row {
 display: flex;
 flex-direction: row;
 width: 100%;
 align-items: space-between;
 flex-wrap: wrap;
}

.register-left {
  margin-top: 90px;
  max-width: 600px;
  flex: 60%;  
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #363D48;
  color: #ffffff;
  height: 570px;  
}

.register-right-info {
  max-width: 400px;
  flex: 40%;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: #363D48;
  color: #ffffff;
  height: 570px;
  text-align: center;
  vertical-align: middle;
  padding: 1%;
  margin-left: 2%;

}

.RegisterForm {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: auto;
  }

  .Register label, input{
    display: block;
    width: 100%;
  }

  .Registerlabel{
    margin-bottom: 5px;
    height: 22px;
  }
  .Register input {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #777;
  }
  .input-feedback {
    color: rgb(235, 54, 54);
    margin-top: -15px;
    font-size: 14px;
    margin-bottom: 20px;
  }

  .Register button {
    padding: 10px 15px;
    background-color: rgb(70, 153, 179);
    color: white;
    border: 1px solid rgb(70, 153, 179);
    background-color: 250ms;
    margin-bottom: 15px;
    border-radius: 5px;
  }

.title {
  text-align: center;
  width: 100%;
  font-weight: lighter;
  margin-top: 1%;
  margin-bottom: 1%;
}

.firstName {
  margin-right: 2%;
  width: 48%;
}

.lastName {
  margin-left: 2%;
  width: 48%;
}

.username,
.firstName,
.lastName,
.email,
.verifyPassword
.password {
  display: flex;
  flex-direction: column;
  /*margin-bottom: 15px;*/
}

.username,
.email,
.homecountry,
.verifyPassword,
.password {
  width: 100%;
}

.createAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.Accountlink {
  text-decoration: underline;
  color: #FFFFFF;
}

@media screen and (max-width: 900px) {
  .Register {
    justify-content: center;
    margin-left: -300px;
    align-items: space-between;
     
    
  }
  .register-left {
    min-width: 600px;
  }
  .Register body {
    height: 1400px;
  }
}