#search-locations {
    margin-top: 56px;
    text-align: center;
}

/*=== Top - Search Bar === */
#exploring-root {
    padding: 16px 4% 0; /*--Skinnier viewport than content area */
}

    /*--- Toolbar Styling ---*/
    #header-search-flexbox {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: baseline;
        padding: 12px 16px 8px; /* title box size */
        width: 100%;
        position: relative;

        border-radius: 8px;
        background-color: #010925;
        color: white;
    }
        #title {
            padding: 12px 16px 12px;
            font-size: 1.4em;
        }
        #search-wrap { 
            position: relative;
        }
            #search-input {
                width: 100%;
                height: 29px; /*- 15 + 2*6(padding) + 2*1(border) */
                padding: 6px 12px 6px 18px;
                border: 1px solid white;
                border-radius: 6px;

                overflow-x: hidden;
                color: #010925;
                font-size: 0.7em;
            }
            #search-btn {
                position: absolute;
                top: 0; /*=(28px-height)/2 */
                right: 0;
                padding: 3px;
                border: 1px solid gray;
                border-radius: 0 5px 6px 0;
                
                background-color: #010925;
                color: white;
                cursor: pointer;
            }
            #search-btn #icon {
                width: 18px;
                height: 18px;
                filter: brightness(0%) invert(1);
            }
                #searchUL-wrap {
                    position: absolute;
                    display: block;
                    z-index: 99;

                    width: 100%;
                    max-height: 75vw;
                    overflow-y: auto;
                }
                #searchUL {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;
                    border: 1px solid #010925;
                }
                .filtered-country-items {
                    display: block; 
                    margin-top: -1px; /* Prevent double borders */
                    padding: 6px;
                    border: 1px solid #ddd;
                    
                    text-align: left;
                    background-color: #f6f6f6;
                    text-decoration: none;
                    font-size: 0.7em;
                    color: black;
                    cursor: pointer;
                }
                .filtered-country-items:hover:not(.header) {
                    background-color: #eee; /* Add hover effect to all links minus header */
                }

    /*--- Map and Data spacer ---*/
    #spacer {
        width: 92%;
        flex-grow: 4;
        text-align: center;
        font-size: 0.9em; font-style: italic;
        padding: 4px 6px;
        margin: 12px 4% 30px 4%; /* 5% = 100 - (96*1/2) */
    }
    #spacer-line {
        margin-top: 30px;
        width: 2;
        color: #081d68;
        background-color: #081d68;
      }

/*=== Map & its Sidebar ===*/
#map-content-wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 24px;
}
    /*-- Conditional Sidebar --*/
    #side-navigation {
        display: none;
        flex-grow: 1; /*20% width*/
        width: 30vw; /* changes on search input!!! */
        max-height: 500px;
        overflow-y: auto;
        padding: 8px 4px 8px 4px;
        margin: 0 4px 12px 0;
        border: 2px solid #081d68;
        border-radius: 5px;
    }
    
    /*-- React-Simple-Map --*/
    #map-stretchy-wrapper {
        flex-grow: 4; /*80% width*/
        width: 100%;
        position: relative;
        padding: 10px;

        border: 2px solid #081d68;
        border-radius: 5px;
    } 
    .map-img {  /*--svg map element*/
        width: 100% !important;  /* overwrite static inline dimensions*/
        height: auto !important; 
        /* viewbox scales to match aspect ratio. auto 
        height renders the 'minimum' height necessaery. */
    }
        #map-stretchy-wrapper .row { 
            margin-top: 0; /*overwriting from Account.css-- FIX THIS */
        } 
        .map-img path {
            stroke: black;
            stroke-width: 1px;
            stroke-linejoin: bevel;
        }

        .map-img .map-unselected {
            fill: #d5ddd5;
        }
            .map-img .map-unselected:hover {
                fill: #428FBE;
                transition: fill 0.5s;
                transition-delay: 0;
            }

        .map-img .map-selected {
            fill: #081d68;
        }
            .map-img .map-selected:hover {
                cursor: pointer;
                opacity: 0.85;
            }

/*--- Conditional "Return to top" Button (master styles in component) */
#new-search-btn:hover {
    background-color: #555; /*dark-grey background on hover*/
}