.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    border: 2px solid black;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
    height: 56px;
}

.navbar_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.navbar_logo {
    margin-left: 1rem;
    align-items: center;
    padding-top: 1rem;
}

.spacer {
    flex: 1;
}

.navbar_navigation_items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar_navigation_items li {
    padding: 0 0.5rem;
}

.navbar_navigation_items a {
    color: black;
    text-decoration: none;
}

.navbar_navigation_items a:hover,
.navbar_navigation_items a:active {
    color: gray;
}

@media (max-width: 768px) {
    .navbar_navigation_items {
        display: none;
    }
}

@media (min-width: 769px) {
    .navbar_toggle-button {
        display: none;
    }

    .navbar_logo {
        margin-left: 0;
    }
}