.blogposts {
    padding-bottom: 50px;
    width: 100%;
}

.country-blog-trips-container {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    overflow-x: scroll;
    overflow-y: hidden;
}

.country-blog-container-wrapper {
    width: auto;
}

.country-blog-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 100%;
}

.country-blog-entry {
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 338px;
    margin: 20px;
}

.top-image {
    height: auto;
    border: 5px solid #010925;
}

.top-image img {
    width: 100%;
    height: 100%;
}

.bottom-content {
    height: 100%;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #010925;
    color: white;
    line-height: 1.8em;
}

.star-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}