.countryinfo {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    height: 80vh;
    
}

.country-column1 {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 1%;
    margin-right: 1%;
    align-content: center;

}

.map_image {
    border-radius: 10px;
    border: 1px solid #363D48;
    width: 100%;
    margin-bottom: 30px;
}

.below-map-row {
    width: 90%;
}

.shareaccountlink {
    color: blue;
    text-decoration: underline;
}

.country-column2 {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin-right: 2%;
}

.info-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
    border: 1px solid #363D48;
    border-radius: 5px;
    text-align: right;
    padding-left: 2%;
    padding-right: 2%;
    margin-right: 1%;
}

.info-row {
    font-weight: 600;
    width: 100%;
}

.info-results-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
    border: 1px solid #363D48;
    margin-left: 1%;
    border-radius: 5px;
    padding-left: 2%;
    text-align: left;
}