/* Tabs head */

#donation-tabs-component {
    margin-left: 2%;
    display: flex;
    flex: column;
}

/* Donations page navigation */
.column-categories {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #363D48;
    border-radius: 5px;
    height: 72vh;
    text-align: center;
    width: 16vw;
}

.categories-style {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    height: 100%;
    margin-bottom: 10px;
}
    .category-header {
        text-decoration: underline;
        padding-top: 20px;
    }

    .category-tab {
        list-style: none;
        padding: 6px 12px;
    }


/* Tab Panels */

    .donations-tab-wrapper {
        display: flex;
        flex-direction: row;
        padding-bottom: 50px;
        height: 80vh;
    }

    .column-donations {
        width: 40vw;
        display: flex;
        flex-direction: column;
        height: 72vh;
        border: 1px solid #363D48;
        border-radius: 5px;
        padding-left: 2%;
        padding-right: 2%;
        margin-left: 1%;
        margin-right: 1%;
    }

    
        .donations-header {
            margin-top: 5%;
            margin-bottom: 5%;
            text-align: center;
        }

        /*.items-list {
            overflow-y: scroll;
        }*/

            .donation-item {
                display: flex;
                flex-direction: row;
                margin-top: 2%;
                margin-bottom: 2%;
                justify-content: space-between;
            }
        
                .item-rating {
                    text-align: left;
                    width: 100px;
                }
    

    .column-suggested-donations {
        width: 40vw;
        display: flex;
        flex-direction: column;
        height: 72vh;
        border: 1px solid #363D48;
        margin-left: 1%;
        border-radius: 5px;
        padding-left: 2%;
        padding-right: 2%;
    }

        .suggestions-header {
            margin-top: 5%;
            margin-bottom: 5%;
            text-align: center;
        }

        /*.suggested-items-list {
            overflow-y: scroll;
        }*/

        .single-suggested-item {
            padding-bottom: 2%;
        }





  
  .react-tabs__tab {
    display: inline-block;
    border-bottom: none;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
  }

  .react-tabs__tab--disabled {
    color: white;
  }
  
  .react-tabs__tab--selected {
    background-color: #363D48;
    color: white;
    border-radius: 5px;
    font-size: 1.1em;
  }
  
  .react-tabs__tab-panel {
    display: none;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
  }