/*#tabs-component {
    display: flex;
    margin-right: 1%;
    margin-left: 1%;
}*/

    /*=== <TabList> ===*/
    .tab-style {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: flex-end;
        width: 100%;
        height: auto;
        margin: 0 5px;
        padding-bottom: 12px;
    }

      .country-flag-block {
          width: 160px;
          min-width: 160px;
          height: auto;
          flex-basis: 8;
          overflow: hidden;
          display: inline-block;
      }
        .flag-image {
            display: block;
            width: 100%;
            height: auto;
            object-position: center;
        }

      .country-name-block {
          display: flex;
          flex-basis: 6;
          padding: 5px;
          margin: auto;
          height: 80px;

          border: white 1px; border-radius: 5px;
          background-color: #010925;
          color: white;
          font-size: 1.5em;
          text-align: center;
      }
      
      .regular-tabs {
          flex-basis: 3;
          display: inline-block;
          padding: 12px 12px;
          height: auto; min-height: 60px;
          border-bottom: none;
          margin: auto 4px;   

          background-color: gray;
          border-radius: 5px;
          list-style: none;
          cursor: pointer;
          transition: all 0.5s;
          color: white;
          text-align: center;
          font-size: 1.1em;
          overflow: visible;
      }
    
    /*--- From react-tabs ---*/
    .regular-tabs:hover {
      background-color: #777;
    }
    .react-tabs__tab--disabled {
      color: gray;
    }
    .react-tabs__tab--selected {
      background-color: #010925;
      color: white;
      transition: all 0.5s;
    }

    .react-tabs__tab-panel {
      display: none;
    }
    .react-tabs__tab-panel--selected {
      display: block;
    }