#tabs-component {
    display: flex;
    width: 100vw;
    margin-right: 1%;
    margin-left: 1%;
}

    /*=== <TabList> ===*/
    .tab-style {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: flex-end;
        height: 100px;
        margin: 0 5px 15px 5px;
        text-align: center;
    }

      .country-flag-block {
          width: 160px;
          height: auto;
          flex-basis: 1;
          overflow: hidden;
          display: inline-block;
      }
        .flag-image {
            display: block;
            width: 100%;
            height: auto;
            object-position: center;
        }

      .country-name-block {
          flex-basis: 1;
          display: inline-block;
          padding: 6px 8px;

          border: none;          
          background-color: white;
          color: #010925;
          font-size: 1.5em;
          word-wrap: break-word;
      }
      
      .regular-tabs {
          display: inline-block;
          position: relative;
          flex-basis: 1;
          padding: 10px 14px;
          margin-bottom: 10px;

          border-bottom: none;
          border-radius: 5px;
          list-style: none;
          cursor: pointer;
      }
    
    /*--- From react-tabs ---*/
    .regular-tabs:hover {
      background-color: #777;
    }
    .react-tabs__tab--disabled {
      color: white;
    }
    .react-tabs__tab--selected {
      background-color: #010925;
      color: white;
    }

    .react-tabs__tab-panel {
      display: none;
    }
    .react-tabs__tab-panel--selected {
      display: block;
    }
    /*=== END -- <TabList> styling ===*/

/* ??????? */
.tablink {
    background-color: #555;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}
  
