/*=== Main - Country Tab Content === */
#country-page-container {
  display: flex;
  width: 100%;
  padding: 0 1% 0 1%;
}

.category-tabs {
  width: 100%;
}

    /*== <TabList> */
     #tabs-flexbox {
        display: flex; flex-flow: row nowrap;
        width: 100%;
        justify-content: space-evenly;
        height: auto;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

      #flag-wrap {
        align-self: flex-start;
        width: 200px; /*flex-basis: 30%;*/
        height: auto;
        margin: auto;
        list-style: none;
      }
        #flag-img {
          width: 100%;
          height: auto;
          border: 1px solid #010925;
        }

      #name-wrap {
          flex-basis: 20%;
          margin: auto;
          padding: 10px;
          align-items: center;
          vertical-align: middle;
          border: white 1px; 
          border-radius: 5px; 
          background-color: #010925;
          font-size: 1.4em; 
          color: white;
          text-align: center; 
          /* height: 80px; */
      }
      
      .regular-tabs {
          width: 12%;
          margin: auto;
          padding: 12px;
          height: 50px; 
          min-height: 50px;
          text-align: center;
          border: white 1px; 
          border-radius: 5px;
          transition: all 0.5s;
          background-color: #a8a8a8;
          list-style: none;
          cursor: pointer;
          color: black;
          font-size: 1em;
          overflow: visible;
      }
      .regular-tabs:hover {
        background-color: #010925;
      }
    
/* --- <Tab className = "regular-tabs"> --- */
    .regular-tabs:hover {
      background-color: #363D48;
      color: white;
    }
    /*--- From react-tabs ---*/
    .react-tabs__tab--disabled {
      color: gray;
    }
    .react-tabs__tab--selected {
      background-color: #363D48;
      color: white;
      transition: all 0.5s;
    }

    .react-tabs__tab-panel {
      display: none;
    }
    .react-tabs__tab-panel--selected {
      display: block;
    }
    .react-tabs__tab {
      display: inline-block;
      border-bottom: none;
      position: relative;
      list-style: none;
      padding: 6px 12px;
      cursor: pointer;
    }
    .tabcontent {
      color: white;
      display: none;
      text-align: center;
  }

/*class for specifically selected/active tab*/
.react-tabs__tab--selected {
  background-color: #010925;
  color: white;
  transition: all 0.5s;
}
.react-tabs__tab--disabled {
  color: gray;
}


/*--- Description spacer for pre-load and db callback error ---*/
#spacer-desc {
  width: 92%;
  text-align: center;
  font-size: 0.9em; font-style: italic;
  padding: 4px 6px;
  margin: 12px 4% 30px 4%; /* 5% = 100 - (96*1/2) */
}

/*--- Map spacer ---*/
#spacer-line {
  margin: 40px 8% 60px 8%;
  width: 84%;
  height: 3px;
  color: #081d68;
  background-color: #081d68;
}